<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Flask Test</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <div class="heading">
          <h1 class="title">中国語学習文法・語法 レベル判定</h1>
        </div>
        <div class="navbar">
          <ul class="nav-lists">
            <li><a href="https://chinese-grammer-wordusage.herokuapp.com/">中国語文法語法トップページ</a></li>
            <li><a href="https://japanese-grammer-wordusage.herokuapp.com/"> 日本語文法語法トップページ</a></li>
          </ul>
        </div>
      </header>

  <div class="main">
    <div class="bottom-content">
        <form action="/" method="POST" class="contact-form">
            <h2 class="heading-name">あなたが獲得した点数をこちらに入力してみてください（数値のみを入力してください）</h2>

            <div class="form-group">
                <label for="scores" class="label">{{sentences}}</label>
                <input class="small-field" type="text" id="score" name="score" placeholder="得点">
            </div>

            <div class="form-group">
                <label for="times" class="label">{{jikans}}</label>
                <input class="small-field" type="text" id="time" name="time" placeholder="学習時間">
            </div>

            <div class='login-btn'>
                <button class="send" type="submit">結果を見る</button>
            </div>
        </form>
    </div>
   </div>
</body>
</html>